@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        В этом приложении в настоящее время не зарегистрирован реальный отправитель электронной почты, см. <a href="https://aka.ms/aspaccountconf">эти документы</a> как настроить настоящего отправителя электронной почты.
        Обычно это отправляется по электронной почте: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажмите здесь, чтобы подтвердить свой аккаунт</a>
    </p>
    }
    else
    {
<p>
    Пожалуйста, проверьте свою электронную почту, чтобы подтвердить свой аккаунт.
</p>
    }
}
