@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был сброшен. пожалуйста <a asp-page="./Login">кликните здесь чтоб войти</a>.
</p>
