@page
@model IndexModel
@{
    ViewData["Title"] = "Профиль";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Имя пользователя</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Мобильный телефон</label>
                <input type="tel" asp-for="Input.Phone" class="form-control" />
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Адрес</label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            @if (Model.Input.IsIndividual)
            {
                <div class="form-group">
                    <label>Имя</label>
                    <input type="text" asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Фамилия</label>
                    <input type="text" asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Отчество</label>
                    <input type="text" asp-for="Input.Patronymic" class="form-control" />
                    <span asp-validation-for="Input.Patronymic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Дата рождения</label>
                    <input asp-for="Input.DateOfBirth" class="form-control" type="date" />
                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Тип документа</label>
                    <input type="text" asp-for="Input.TypeDocument" class="form-control" />
                    <span asp-validation-for="Input.TypeDocument" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Номер документа</label>
                    <input type="number" asp-for="Input.DocumentNumber" class="form-control" />
                    <span asp-validation-for="Input.DocumentNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Зарплата</label>
                    <input asp-for="Input.Salary" class="form-control" />
                    <span asp-validation-for="Input.Salary" class="text-danger"></span>
                </div>
            }
            @if (!Model.Input.IsIndividual)
            {
                <div class="form-group">
                    <label>Название компании</label>
                    <input asp-for="Input.CompanyName" class="form-control" />
                    <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>УНП</label>
                    <input asp-for="Input.Unp" class="form-control" />
                    <span asp-validation-for="Input.Unp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Номер документа</label>
                    <input type="number" asp-for="Input.NumberDocument" class="form-control" />
                    <span asp-validation-for="Input.NumberDocument" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Денежный оборот</label>
                    <input asp-for="Input.CashTurnover" class="form-control" />
                    <span asp-validation-for="Input.CashTurnover" class="text-danger"></span>
                </div>
            }
            <button id="update-profile-button" type="submit" class="btn btn-primary">Cохранить</button>
            <hr />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}