@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using FinancialCabinet.ViewModels
@using FinancialCabinet.Entity
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Вход";
}
<h2>@ViewData["Title"]</h2>
<div class="row" class="col-md-3">
    <div>
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Вход</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Забыли пароль?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Зарегестрироваться как новый пользователь?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}