@model FinancialCabinet.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Создать новый аккаунт.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsIndividual"></label>
                <input type="checkbox" asp-for="IsIndividual" id="isIndividualCheckbox" onclick="showAdditionalFields()" class="form-check" />
                <span asp-validation-for="IsIndividual" class="text-danger"></span>
            </div>

            <div id="individualFields" style="display: none">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Patronymic"></label>
                    <input asp-for="Patronymic" class="form-control" />
                    <span asp-validation-for="Patronymic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth"></label>
                    <input asp-for="DateOfBirth" class="form-control" type="date" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeDocument"></label>
                    <input asp-for="TypeDocument" class="form-control" />
                    <span asp-validation-for="TypeDocument" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DocumentNumber"></label>
                    <input asp-for="DocumentNumber" class="form-control" />
                    <span asp-validation-for="DocumentNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Salary"></label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
            </div>

            <div id="legalFields">
                <div class="form-group">
                    <label asp-for="CompanyName"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Unp"></label>
                    <input asp-for="Unp" class="form-control" />
                    <span asp-validation-for="Unp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberDocument"></label>
                    <input asp-for="NumberDocument" class="form-control" />
                    <span asp-validation-for="NumberDocument" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CashTurnover"></label>
                    <input asp-for="CashTurnover" class="form-control" />
                    <span asp-validation-for="CashTurnover" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Зарегистрироваться</button>
        </form>
    </div>
</div>
<script>
    function showAdditionalFields() {
        if (document.getElementById("individualFields").style.display == 'block') {
            document.getElementById("individualFields").style.display = 'none';
            document.getElementById("legalFields").style.display = 'block';
        }
        else {
            document.getElementById("individualFields").style.display = 'block';
            document.getElementById("legalFields").style.display = 'none';
        }
    }
</script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}