/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.table-row {
    transition: background-color 0.2s;
}

    .table-row:hover {
        background-color: gainsboro;
    }

.sticky-table {
    position: relative;
    border-collapse: collapse;
}

.th-header {
    background: rgb(222, 226, 230);
    position: sticky;
    top: 0;
    border-top: 0px !important;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-container {
    display: flex;
}

.filter-input {
    width: 200px;
    height: 27px;
    margin: 3px;
}

.filter-text {
    height: 27px;
    margin: 3px;
    padding: 0.05px;
}

.filter-text-container {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-credit {
    border: 2px solid #DEE2E6;
    border-radius: 5px;
    background-color: white;
    transition: 0.2s;
}

.button-credit {
    border: 2px solid #DEE2E6;
    border-radius: 5px;
    background-color: white;
}

    .button-credit:hover {
        border: 2px solid #ACAFB2;
        background-color: #E8ECF0;
    }