@page
@model ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка при обработке вашего запроса.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Запрос ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим Разработки</h3>
<p>
    При переходе на <strong>Разработка</strong> среда отобразит более подробную информацию о произошедшей ошибке.
</p>
<p>
    <strong>Среда разработки не должна быть включена в развернутых приложениях</strong>, поскольку это может привести к отображению конфиденциальной информации из исключений для конечных пользователей. Для локальной отладки можно включить среду разработки, установив параметр <strong>ASPNETCORE_ENVIRONMENT</strong> переменная среды для <strong>Разработка</strong>, и перезапуск приложения.
</p>
