@model List<BankModel>
@{
    ViewData["Title"] = "Главная страница";
}
<div class="main">

    <h2>
        Банки
    </h2>
    <div>
        <table class="table sticky-table">
            <thead>
                <tr>
                    <th class="th-header">
                        Название
                    </th>
                    <th class="th-header">
                        Адрес
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (BankModel bank in Model)
                {
                    <tr class="table-row">
                        <td>@bank.Name</td>
                        <td>@bank.Address</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>