@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро Пожаловать</h1>
    <p>Пожалуйста, <a href="~/Account/Login">войдите</a> или <a href="~/Account/Register">зарегистрируйтесь</a>, чтобы получить доступ.</p>
</div>
