@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка при обработке вашего запроса.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Запрос ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработка</h3>
<p>
    При переключении на <strong>Разработка</strong> среда отобразит более подробную информацию о произошедшей ошибке.
</p>
<p>
    <strong>Среда разработки не должна быть включена для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации из исключений для конечных пользователей.
    Для локальной отладки включите <strong>Разработка</strong> среды, установив <strong>ASPNETCORE_ENVIRONMENT</strong> переменная среды для <strong>Разработка</strong>
    и перезапускаем приложение.
</p>
